## Important: python 3.6.13 will break (not a clue why)
## conda install python=3.6.8 will make fix the problems 

absl-py==0.13.0
astor==0.8.1
bleach==3.3.1
certifi==2021.5.30
charset-normalizer==2.0.3
click==8.0.1
dataclasses==0.8
-e git+https://github.com/kermitt2/delft.git@0e81a6a07322f38d75c9af63bd56f702d526d01d#egg=delft
gast==0.2.2
gensim==4.0.1
google-pasta==0.2.0
grpcio==1.38.1
h5py==2.10.0
idna==3.2
importlib-metadata==4.6.1
jep==3.9.1
joblib==1.0.1
Keras==2.2.4
Keras-Applications==1.0.8
keras-bert==0.80.0
keras-embed-sim==0.9.0
keras-layer-normalization==0.15.0
keras-multi-head==0.28.0
keras-pos-embd==0.12.0
keras-position-wise-feed-forward==0.7.0
Keras-Preprocessing==1.1.2
keras-self-attention==0.50.0
keras-transformer==0.39.0
langdetect==1.0.9
lmdb==1.2.1
Markdown==3.3.4
nltk==3.6.5
numpy==1.18.5
opt-einsum==3.3.0
packaging==21.0
pandas==1.1.5
protobuf==3.17.3
pydot==1.4.2
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
PyYAML==5.4.1
regex==2021.7.6
requests==2.26.0
scikit-learn==0.24.2
scipy==1.5.4
six==1.16.0
smart-open==5.1.0
tensorboard==1.15.0
tensorflow==1.15.5
tensorflow-estimator==1.15.1
termcolor==1.1.0
textblob==0.15.3
threadpoolctl==2.2.0
tqdm==4.61.2
truecase==0.0.14
typing-extensions==3.10.0.0
Unidecode==1.2.0
urllib3==1.26.6
webencodings==0.5.1
Werkzeug==2.0.1
wrapt==1.12.1
zipp==3.5.0
