.info-sense-box.abbreviation {
    background-color: #b92c28;
}

.info-sense-box.me_method {
    background-color: #0e90d2;
}

.info-sense-box.material {
    background-color: #2262d2;
}

.info-sense-box.material-tc {
    background-color: #50ced2;
}

.info-sense-box.class {
    background-color: #d22f09;
}

.info-sense-box.tc {
    background-color: #ffe294;
}

.info-sense-box.sample {
    background-color: #5bd2b2;
}

.info-sense-box.temperature {
    background-color: #356635;
}

.info-sense-box.tcValue {
    background-color: #356635;
}

.info-sense-box.temperature-tc {
    background-color: #83ff83;
}

.info-sense-box.magnetisation {
    background-color: #20bd4e;
}

.info-sense-box.pressure {
    background-color: #92d983;
}


.label.abbreviation {
    background-color: #a85855;
}

.label.me_method {
    background-color: #0e90d2;
}

.label.material {
    background-color: #2262d2;
}

.label.material-tc {
    background-color: #50ced2;
}

.label.class {
    background-color: #d22f09;
}

.label.tc {
    background-color: #ffc800;
}

.label.sample {
    background-color: #5bd2b2;
}

.label.tcValue {
    background-color: #356635;
}

.label.measurement {
    background-color: #356635;
}

.label.temperature {
    background-color: #356635;
}

.label.tcValue {
    background-color: #356635;
}

.label.temperature-tc {
    background-color: #83ff83;
}

.label.magnetisation {
    background-color: #20bd4e;
}

.label.pressure {
    background-color: #92d983;
}

.label.material.name {
    background-color: #bd4716;
}

.label.material.formula {
    background-color: #504895;
}

.label.material.doping {
    background-color: #649c55;
}

.label.material.shape {
    background-color: #cd9b32;
}

.label.material.fabrication {
    background-color: #afba4a;
}

.label.material.variable {
    background-color: #2f764c;
}

.label.material.value {
    background-color: #ad7c2a;
}

.area.abbreviation {
    border-color: #b92c28 !important;
}

.area.me_method {
    border-color: #0e90d2 !important;
}

.area.material {
    border-color: #2262d2 !important;
}

.area.material-tc {
    border-color: #50ced2 !important;
}

.area.class {
    border-color: #d22f09 !important;
}

.area.tc {
    border-color: #ffe294 !important;
}

.area.sample {
    border-color: #5bd2b2 !important;
}

.area.measurement {
    border-color: #356635 !important;
}

.area.tcValue {
    border-color: #356635 !important;
}

.area.temperature {
    border-color: #356635 !important;
}

.area.tcValue {
    border-color: #356635 !important;
}

.area.temperature-tc {
    border-color: #83ff83 !important;
}

.area.magnetisation {
    border-color: #20bd4e !important;
}

.area.pressure {
    border-color: #92d983 !important;
}


