.info-sense-box.abbreviation {
    background-color: #b92c2870;
}

.info-sense-box.me_method {
    background-color: #0e90d270;
}

.info-sense-box.material {
    background-color: #2262d270;
}

.info-sense-box.material-tc {
    background-color: #50ced270;
}

.info-sense-box.class {
    background-color: #d22f0970;
}

.info-sense-box.tc {
    background-color: #ffe29470;
}

.info-sense-box.sample {
    background-color: #5bd2b270;
}

.info-sense-box.temperature {
    background-color: #35663570;
}

.info-sense-box.tcValue {
    background-color: #35663570;
}

.info-sense-box.temperature-tc {
    background-color: #83ff8370;
}

.info-sense-box.magnetisation {
    background-color: #20bd4e70;
}

.info-sense-box.pressure {
    background-color: #92d98370;
}


.label.abbreviation {
    background-color: #b92c2870;
}

.label.me_method {
    background-color: #0e90d270;
}

.label.material {
    background-color: #2262d270;
}

.label.material-tc {
    background-color: #50ced270;
}

.label.class {
    background-color: #d22f0970;
}

.label.tc {
    background-color: #ffe29470;
}

.label.sample {
    background-color: #5bd2b270;
}

.label.temperature {
    background-color: #35663570;
}

.label.tcValue {
    background-color: #35663570;
}

.label.temperature-tc {
    background-color: #83ff8370;
}

.label.magnetisation {
    background-color: #20bd4e70;
}

.label.pressure {
    background-color: #92d98370;
}

.label.material.variable {
    background-color: #2f764caa;
}

.label.material.value {
    background-color: #ad7c2aaa;
}

.label.crystal-structure {
    background-color: #83a3d9aa;
    color: #70695C !important;
}

.label.space-groups {
    background-color: #102e4baa;
}

.label.unit-cell-type {
    background-color: #0776e1aa;
}

.area.abbreviation {
    border-color: #b92c28 !important;
    z-index: 100;
}

.area.me_method {
    border-color: #0e90d2 !important;
    z-index: 100;
}

.area.material {
    border-color: #2262d226 !important;
    z-index: 100;
}

.area.material-tc {
    border-color: #50ced2 !important;
    z-index: 100;
}

.area.class {
    border-color: #d22f09 !important;
    z-index: 100;
}

.area.tc {
    border-color: #ffe294 !important;
    z-index: 100;
}

.area.sample {
    border-color: #5bd2b2 !important;
    z-index: 100;
}

.area.temperature {
    border-color: #356635 !important;
    z-index: 100;
}

.area.tcValue {
    border-color: #356635 !important;
    z-index: 100;
}

.area.temperature-tc {
    border-color: #83ff83 !important;
    z-index: 100;
}

.area.magnetisation {
    border-color: #20bd4e !important;
    z-index: 100;
}

.area.pressure {
    border-color: #92d983 !important;
    z-index: 100;
}


