.info-sense-box.TEMPERATURE {
    background-color: #398739;
}

.info-sense-box.MASS {
    background-color: #c43c35;
}

.info-sense-box.TIME {
    background-color: #f89406;
}

.info-sense-box.LENGTH {
    background-color: #01A9DB;
}

.info-sense-box.FREQUENCY {
    background-color: #8904B1;
}

.info-sense-box.FRACTION {
    background-color: #c43c35;
}

.info-sense-box.VOLUME {
    background-color: #c43c35;
}

.info-sense-box.VELOCITY {
    background-color: #c43c35;
}

.info-sense-box.AREA {
    background-color: #87A1A8;
}

.info-sense-box.CONCENTRATION {
    background-color: #31B404;
}

/* DOMAINS */
.info-sense-box.biology {
    background-color: #398739;
}

.info-sense-box.chemistry {
    background-color: #c43c35;
}

.info-sense-box.food {
    background-color: #398739;
}

.info-sense-box.medicine {
    background-color: #f89406;
}

.info-sense-box.anatomy {
    background-color: #f89406;
}

.info-sense-box.engineering {
    background-color: #01A9DB;
}

.info-sense-box.animals {
    background-color: #8904B1;
}

.info-sense-box.plants {
    background-color: #c43c35;
}

.info-sense-box.earth {
    background-color: #c43c35;
}

.info-sense-box.mathematics {
    background-color: #c43c35;
}

.info-sense-box.physics {
    background-color: #87A1A8;
}

.info-sense-box.optics {
    background-color: #87A1A8;
}

.info-sense-box.architecture {
    background-color: #A901DB;
}

.info-sense-box.astronautics {
    background-color: #87A1A8;
}

.info-sense-box.telecommunication {
    background-color: #5C460C;
}

.info-sense-box.computer_science {
    background-color: #04B4AE;
}

.info-sense-box.environment {
    background-color: #31B404;
}

.info-sense-box.electronics {
    background-color: #01A9DB;
}


/*links for box PDF annotations*/

a.TEMPERATURE {
    border-color: #398739;
}

a.MASS {
    border-color: #c43c35;
}

a.TIME {
    border-color: #f89406;
}

a.LENGTH {
    border-color: #01A9DB;
}

a.FREQUENCY {
    border-color: #8904B1;
}

a.FRACTION {
    border-color: #c43c35;
}

a.VOLUME {
    border-color: #c43c35;
}

a.VELOCITY {
    border-color: #c43c35;
}

a.AREA {
    border-color: #87A1A8;
}

a.CONCENTRATION {
    border-color: #31B404;
}


[rel=popover][data-color=TEMPERATURE] + .popover .popover-title {
    background-color: #398739;
    color: white;
}


.label.TEMPERATURE {
    background-color: #398739;
}

.label.MASS {
    background-color: #c43c35;
}

.label.TIME {
    background-color: #f89406;
}

.label.LENGTH {
    background-color: #01A9DB;
}

.label.FREQUENCY {
    background-color: #8904B1;
}

.label.FRACTION {
    background-color: #c43c35;
}

.label.VOLUME {
    background-color: #c43c35;
}

.label.VELOCITY {
    background-color: #c43c35;
}

.label.AREA {
    background-color: #87A1A8;
}

.label.CONCENTRATION {
    background-color: #31B404;
}

.label.biology {
    background-color: #398739;
}

.label.chemistry {
    background-color: #c43c35;
}

.label.food {
    background-color: #398739;
}

.label.medicine {
    background-color: #f89406;
}

.label.anatomy {
    background-color: #f89406;
}

.label.engineering {
    background-color: #01A9DB;
}

.label.animals {
    background-color: #8904B1;
}

.label.plants {
    background-color: #c43c35;
}

.label.earth {
    background-color: #c43c35;
}

.label.mathematics {
    background-color: #c43c35;
}

.label.physics {
    background-color: #87A1A8;
}

.label.architecture {
    background-color: #A901DB;
}

.label.astronautics {
    background-color: #87A1A8;
}

.label.telecommunication {
    background-color: #5C460C;
}

.label.computer_science {
    background-color: #04B4AE;
}

.label.environment {
    background-color: #31B404;
}